#textdomain wesnoth-AoM
[unit_type]
    id=Grattian Airplane2
    name= _ "Grattian Airplane2"
    race=mechanical
    image="units/grattians/airplane2.png"
    hitpoints=59
    movement_type=smallfly
    movement=9
    experience=46
    level=2
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=29
    usage=scout
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/grattians/airplane2.png" "units/grattians/airplane2.png" mace.ogg}

    {AOM_MOVEMENT_SOUND motor.wav}

    [abilities] 
    [/abilities]

    attacks=2

    [attack]
        name=pistol
        description=_ "pistol"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=12
        number=2
    [/attack]

    {GUN_ANIM pistol revolver.ogg {SOUND_LIST:AOM_RIFLE_MISS}}

    [death]
		start_time=0
        [frame]
            image="units/grattians/airplane2.png"
			halo=projectiles/fireball-impact-[1~15].png~SCALE(220,220):120
        [/frame]
		sound_start_time=0
	    [sound_frame]
            sound=explosion.ogg
        [/sound_frame]
		sound2_start_time=60
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=120
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
    [/death]
[/unit_type]