#textdomain wesnoth-AoM
[unit_type]
    id=Grattian Airplane
    name= _ "Grattian Airplane"
    race=mechanical
    image="units/grattians/airplane.png"
    hitpoints=42
    movement_type=smallfly
    movement=9
    experience=46
    level=1
    alignment=chaotic
    advances_to=Grattian Airplane2
    cost=18
    usage=scout
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/grattians/airplane.png" "units/grattians/airplane.png" mace.ogg}

    {AOM_MOVEMENT_SOUND motor.wav}

    [abilities] 
    [/abilities]

    [attack]
        name=pistol
        description=_ "pistol"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=6
        number=2
    [/attack]

    {GUN_ANIM pistol revolver.ogg {SOUND_LIST:AOM_RIFLE_MISS}}

    [death]
		start_time=0
        [frame]
            image="units/grattians/airplane.png"
			halo=projectiles/fireball-impact-[1~15].png~SCALE(220,220):120
        [/frame]
		sound_start_time=0
	    [sound_frame]
            sound=explosion.ogg
        [/sound_frame]
		sound2_start_time=60
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=120
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
    [/death]
[/unit_type]