#textdomain wesnoth-AoM

[unit_type]
    id=Grattian Lancer
    name= _ "Grattian Lancer"
    race=human
    image="units/grattians/lancer.png"
    hitpoints=38
    movement_type=mounted
    movement=8
    experience=44
    level=1
    alignment=chaotic
    advances_to=Grattian Lancer2
    cost=17
    usage=scout
    description= _ ""
    die_sound=horse-die.ogg 

    {DEFENSE_ANIM "units/grattians/lancer.png" "units/grattians/lancer.png" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=spear
        description=_"spear"
        icon=attacks/blank-attack.png	
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    {MELEE_ANIM spear spear.ogg spear-miss.ogg}
[/unit_type]