#textdomain wesnoth-AoM
[unit_type]
    id=Grattian Mortar2
    name= _ "Grattian Mortar2"
    race=mechanical
    image="units/grattians/mortar2.png"
    hitpoints=55
    [resistances]
        blade=20 
        pierce=30 
    [/resistances]
    movement_type=light_mecha
    movement=4
    experience=100
    level=1
    alignment=chaotic
    advances_to=Grattian Mortar3
    cost=30
    usage=archer
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/grattians/mortar2.png" "units/grattians/mortar2.png" mace.ogg}

    [abilities] 
    [/abilities]

    attacks=2

    [attack]
        name=cannon
        description=_ "cannon"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=25
        number=1
    [/attack]

    {CANNON_ANIM cannon {SOUND_LIST:AOM_HOTVIZER} {SOUND_LIST:AOM_HOTVIZER} explosion.ogg}
[/unit_type]