#textdomain wesnoth-AoM
[unit_type]
    id=Grattian Mortar3
    name= _ "Grattian Mortar3"
    race=mechanical
    image="units/grattians/mortar3.png"
    hitpoints=65
    [resistances]
        blade=20 
        pierce=30 
    [/resistances]
    movement_type=light_mecha
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=archer
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/grattians/mortar3.png" "units/grattians/mortar3.png" mace.ogg}

    [abilities] 
    [/abilities]

    attacks=3

    [attack]
        name=cannon
        description=_ "cannon"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=30
        number=1
    [/attack]

    {CANNON_ANIM cannon {SOUND_LIST:AOM_HOTVIZER} {SOUND_LIST:AOM_HOTVIZER} explosion.ogg}
[/unit_type]