#textdomain wesnoth-AoM
[unit_type]
    id=Grattian Mortar
    name= _ "Grattian Mortar"
    race=mechanical
    image="units/grattians/mortar.png"
    hitpoints=35
    [resistances]
        blade=20 
        pierce=30 
    [/resistances]
    movement_type=light_mecha
    movement=4
    experience=50
    level=1
    alignment=chaotic
    advances_to=Grattian Mortar2
    cost=18
    usage=archer
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/grattians/mortar.png" "units/grattians/mortar.png" mace.ogg}

    [abilities] 
    [/abilities]

    attacks=2

    [attack]
        name=cannon
        description=_ "cannon"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=20
        number=1
    [/attack]

    {CANNON_ANIM cannon {SOUND_LIST:AOM_HOTVIZER} {SOUND_LIST:AOM_HOTVIZER} explosion.ogg}
[/unit_type]