#textdomain wesnoth-AoM

[unit_type]
    id=Grattian Officer3
    name= _ "Grattian Officer3"
    race=human
    image="units/grattians/officer3.png"
    hitpoints=66
    movement_type=smallfoot
    movement=6
    experience=150 
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=50
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/grattians/officer3.png" "units/grattians/officer3.png" {SOUND_LIST:HUMAN_HIT} }

    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=axe
        description=_"axe"
        icon=attacks/blank-attack.png	
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]

    [attack]
        name=pistol
        description=_"pistol"
        icon=attacks/blank-attack.png	
        type=pierce
        range=ranged
        damage=9
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {GUN_ANIM pistol revolver.ogg {SOUND_LIST:AOM_RIFLE_MISS}}
[/unit_type]