#textdomain wesnoth-AoM

[unit_type]
    id=Grattian Reservist
    name= _ "Grattian Reservist"
    race=human
    image="units/grattians/reservist.png"
    hitpoints=22
    movement_type=smallfoot
    movement=5
    experience=24
    level=0
    alignment=chaotic
    advances_to=Grattian Soldier, Grattian Stormtrooper, Grattian Officer
    cost=8
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/grattians/reservist.png" "units/grattians/reservist.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=stock
        description=_"stock"
        icon=attacks/blank-attack.png	
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png	
        type=pierce
        range=ranged
        damage=15
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=stock
        [/filter_attack]
        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {GUN_ANIM rifle {SOUND_LIST:AOM_RIFLE} {SOUND_LIST:AOM_RIFLE_MISS}}
[/unit_type]