#textdomain wesnoth-AoM

[unit_type]
    id=Grattian Soldier2
    name= _ "Grattian Soldier2"
    race=human
    image="units/grattians/soldier2.png"
    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=48
    level=2
    alignment=chaotic
    advances_to=Grattian Soldier3
    cost=24
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/grattians/soldier2.png" "units/grattians/soldier2.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=bayonet
        description=_"bayonet"
        icon=attacks/blank-attack.png	
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png	
        accuracy=10
        type=pierce
        range=ranged
        damage=25
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bayonet
        [/filter_attack]
        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
    {GUN_ANIM rifle {SOUND_LIST:AOM_RIFLE} {SOUND_LIST:AOM_RIFLE_MISS}}
[/unit_type]