#textdomain wesnoth-AoM

[unit_type]
    id=Grattian Soldier3
    name= _ "Grattian Soldier3"
    race=human
    image="units/grattians/soldier3.png"
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=43
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    {DEFENSE_ANIM "units/grattians/soldier3.png" "units/grattians/soldier3.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=bayonet
        description=_"bayonet"
        icon=attacks/blank-attack.png	
        type=pierce
        range=melee
        damage=14
        number=3
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png	
        type=pierce
        accuracy=10
        range=ranged
        damage=36
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bayonet
        [/filter_attack]
        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
    {GUN_ANIM rifle {SOUND_LIST:AOM_RIFLE} {SOUND_LIST:AOM_RIFLE_MISS}}
[/unit_type]