#textdomain wesnoth-multiplayer

[era]
    id=Age_of_Machines
    name= _ "Age of Machines Alpha"
    description=_"Новое слово в геймплее"
    require_era=yes
    {RANDOM_SIDE}
    {AOM_UI}
    {~add-ons/Age_of_Machines/factions/test.cfg}
[/era]
