#textdomain wesnoth-AoM
[unit_type]
    id=Imperial_Mechanic
    name= _ "Mechanic"
    race=human
    image="units/test/infantry.png"
    hitpoints=27
    movement_type=smallfoot
    movement=5
    experience=20
    level=0
    alignment=neutral
    advances_to=null
    cost=10
    usage=mixed_fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/test/infantry.png" "units/test/infantry.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=gun
        description=_"pistol"
        icon=attacks/revolver.png	
        type=pierce
        range=ranged
        damage=5
        number=2
       [specials]
      {WEAPON_SPECIAL_METAL_COST 1}
       [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bayonet
        [/filter_attack]

        start_time=-200

        [frame]
	    duration=300
        [/frame]

        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {GUN_ANIM}
[/unit_type]

