#textdomain wesnoth-AoM
[multiplayer_side]
    id=grattia
    name= _"Grattia"
    image="units/grattians/stormtrooper2b.png"
    description=""
    type=random
    leader=Grattian Officer2, Grattian Soldier2, Grattian Stormtrooper2
    recruit=Grattian Officer, Grattian Soldier, Grattian Stormtrooper, Grattian Airplane, Grattian Steel Chariot, Grattian Mortar, Grattian Lancer
[/multiplayer_side]
