#textdomain wesnoth-multiplayer
{~add-ons/Age_of_Machines/units/Imperials/Imperial_Graphics.cfg}

[multiplayer_side]
    id=Imperial_Chaotic
    name= _"Grey Empire (chaotic)"
    image="units/Imperial_Army/icon.png~{GREY_UNIFORM}"
    type=random
    leader=Imperial_Officer_Chaotic
    recruit=Imperial_Chaotic_Cavalier,Imperial_Chaotic_Soldier,Imperial_Flamethrower_Chaotic,Imperial_Officer_Chaotic,Imperial_Stormtrooper_Chaotic,Imperial_Stagecoach_Chaotic,Imperial_Fortess_Chaotic,Imperial_Zeppelin_Chaotic
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=scout,scout,mixed_fighter,mixed_fighter,fighter,officer,archer,vehicle_usual,vehicle_elite
        [aspect]
            id=recruitment_instructions
            [facet]
                [value] 
                    [limit]
                        type=officer
                        max=3
                    [/limit]
                [/value]
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]
