#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Imperial_Lawful
    name= _"Blue Empire (lawful)"
    image="units/Imperial_Army/icon.png"
    type=random
    leader=Imperial_Officer_Lawful
    recruit=Imperial_Lawful_Soldier,Imperial_Lawful_Cavalier,Imperial_Flamethrower_Lawful,Imperial_Officer_Lawful,Imperial_Stormtrooper_Lawful,Imperial_Stagecoach_Lawful,Imperial_Fortess_Lawful,Imperial_Zeppelin_Lawful
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        village_value=1.5
        scout_village_targeting=3
        recruitment_pattern=scout,mixed_fighter,mixed_fighter,fighter,officer,archer,vehicle_usual,vehicle_elite
        [aspect]
            id=recruitment_instructions
            [facet]
                [value] 
                    [limit]
                        type=officer
                        max=3
                    [/limit]
                [/value]
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]
