#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=Imperial_Lawful
    name= _"Blue Empire"
    image="units/Imperial_Army/Infantry/infantry.png"
    type=random
    leader=Imperial_Officer_Lawful
    recruit=Imperial_Lawful_Soldier,Imperial_Lawful_Cavalier,Imperial_Flamethrower_Lawful,Imperial_Officer_Lawful,Imperial_Stormtrooper_Lawful,Imperial_Stagecoach_Lawful,Imperial_Fortess_Lawful,Imperial_Zeppelin_Lawful
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=scout,mixed_fighter,mixed_fighter,mixed_fighter,archer
    [/ai]
[/multiplayer_side]
