#textdomain wesnoth-AoM

{~add-ons/Age_of_Machines/units/Imperials/Imperial_Graphics.cfg} 

#define IMPERIAL_STAGECOACH ID NAME ALIGNMENT PAL 

[unit_type]
    id={ID}
    name= _ {NAME}
    race=mechanical
    image="units/Imperial_Army/stagecoach.png~{PAL}"
    hitpoints=60
    movement_type=light_mecha
    movement=6
    vision=3
    [resistance]
        pierce=60
        blade=40
    [/resistance]
    experience=50
    level=3
    alignment={ALIGNMENT}
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=archer
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/Imperial_Army/stagecoach.png~{PAL}" "units/Imperial_Army/stagecoach.png~{PAL}" mace.ogg}

    [abilities] 
        {ABILITY_AOM_TRANSPORT 3}
        {ABILITY_AOM_EXPLOSION impact 10}
        {ABILITY_AOM_ONBOARD_INFANTRY 1}
        {ABILITY_AOM_NO_TRANSPORT}
        {ABILITY_AOM_ECONOMY_MOVEMENT "0.75"}
    [/abilities]
    attacks=5
    [attack]
        name=gun
        description=_"machine gun"
        icon=attacks/mg.png
        type=pierce
        parry=10
        range=ranged
        damage=9
        number=1 
        [specials]
            {WEAPON_SPECIAL_ECONOMY_COST "0.3"}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-100
        [missile_frame]
            duration=100
            image="projectiles/bullet.png"
        [/missile_frame]

        [frame]
            image="units/Imperial_Army/stagecoach.png~{PAL}" 
            halo=units/Imperial_Army/Stagecoach/stagecoach-halo.png:30
        [/frame]
        [frame]
            image="units/Imperial_Army/stagecoach.png~{PAL}" 
        [/frame]

        {SOUND:HIT_AND_MISS ckm.wav ckm.wav -30}
    [/attack_anim]
    [death]
		start_time=0
        [frame]
            image="units/Imperial_Army/stagecoach.png~{PAL}" 
			halo=projectiles/fireball-impact-[1~15].png~SCALE(220,220):120
        [/frame]
		sound_start_time=0
	    [sound_frame]
            sound=explosion.ogg
        [/sound_frame]
		sound2_start_time=60
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=120
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
    [/death]
[/unit_type]

#enddef 

{IMPERIAL_STAGECOACH Imperial_Stagecoach_Lawful "War Stagecoach" lawful ()}
{IMPERIAL_STAGECOACH Imperial_Stagecoach_Chaotic "War Stagecoach" chaotic {GREY_UNIFORM}}
