#textdomain wesnoth-AoM

{~add-ons/Age_of_Machines/units/Imperials/Imperial_Graphics.cfg} 

#define IMG_PATH 
units/Imperial_Army/stagecoach#enddef

#define IMPERIAL_STAGECOACH ID NAME ALIGNMENT PAL 

[unit_type]
    id={ID}
    name= _ {NAME}
    race=mechanical
    image="units/Imperial_Army/stagecoach.png~{PAL}"
    hitpoints=60
    movement_type=light_mecha
    movement=6
    vision=3
    [resistance]
        pierce=60
        blade=40
    [/resistance]
    experience=66
    level=3
    alignment={ALIGNMENT}
    advances_to=null
    {AMLA_AOM}
    cost=20
    usage=vehicle_usual
    die_sound=explosion.ogg
    description= _ ""

    {DEFENSE_ANIM "units/Imperial_Army/stagecoach.png~{PAL}" "units/Imperial_Army/stagecoach.png~{PAL}" mace.ogg}

    {AOM_MOVEMENT_SOUND motor.wav}

    [standing_anim]
        [frame]
            duration=100
            image="{IMG_PATH}.png~{PAL}"
            halo=halo/steamsolo2.png:100
            halo_x=2
            halo_y=-4
        [/frame]
        [frame]
            duration=100
            image="{IMG_PATH}-stand-1.png~{PAL}"
            halo=halo/steamsolo3.png:100
            halo_x=2
            halo_y=-4
        [/frame]
        [frame]
            duration=100
            image="{IMG_PATH}.png~{PAL}"
            halo=halo/steamsolo4.png:100
            halo_x=2
            halo_y=-4
        [/frame]
    [/standing_anim]

    [abilities] 
        {ABILITY_AOM_TRANSPORT 3}
        {ABILITY_AOM_EXPLOSION impact 10}
        {ABILITY_AOM_NO_TRANSPORT}
        {ABILITY_AOM_ECONOMY_MOVEMENT "1"}
    [/abilities]
    attacks=3
    [attack]
        name=gun
        description=_"machine gun"
        icon=attacks/mg.png
        type=pierce
        parry=10
        range=ranged
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_ECONOMY_COST "1"}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-100
        direction=se,sw 
        {MISSILE_FRAME_MACHINE_GUN 30 1}
        {SOUND:HIT_AND_MISS ckm.wav ckm.wav -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-100
        direction=ne,nw 
        {MISSILE_FRAME_MACHINE_GUN 30 1}
        {SOUND:HIT_AND_MISS ckm.wav ckm.wav -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-100
        direction=s
        {MISSILE_FRAME_MACHINE_GUN 15 7}
        {SOUND:HIT_AND_MISS ckm.wav ckm.wav -50}
        [frame]
            image="units/Imperial_Army/stagecoach-shoot-s.png~{PAL}:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-100
        direction=n
        {MISSILE_FRAME_MACHINE_GUN 15 -25}
        {SOUND:HIT_AND_MISS ckm.wav ckm.wav -50}
        [frame]
            image="units/Imperial_Army/stagecoach-shoot-n.png~{PAL}:50"
        [/frame]
    [/attack_anim]

    [death]
		start_time=0
        [frame]
            image="units/Imperial_Army/stagecoach.png~{PAL}" 
			halo=projectiles/fireball-impact-[1~15].png~SCALE(220,220):120
        [/frame]
		sound_start_time=0
	    [sound_frame]
            sound=explosion.ogg
        [/sound_frame]
		sound2_start_time=60
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=120
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
    [/death]
[/unit_type]

#enddef 

{IMPERIAL_STAGECOACH Imperial_Stagecoach_Lawful "War Stagecoach" lawful ()}
{IMPERIAL_STAGECOACH Imperial_Stagecoach_Chaotic "War Stagecoach" chaotic {GREY_UNIFORM}}
{IMPERIAL_STAGECOACH Imperial_Stagecoach_Neutral "War Stagecoach" neutral {RED_UNIFORM}}
{IMPERIAL_STAGECOACH Imperial_Stagecoach_Liminal "War Stagecoach" liminal {GREEN_UNIFORM}}

#undef IGM_PATH