#textdomain wesnoth-AoM
[unit_type]
    id=Imperial_Zeppelin
    name= _ "Zeppelin"
    race=mechanical
    image="units/Imperial_Army/Zeppelin/zeppelin.png"
    image_icon="units/Imperial_Army/Zeppelin/zeppelin-icon.png"
    hitpoints=80
    movement_type=airship
    flies=true
    [resistance]
        pierce=120 
        blade=100 
        fire=140 
        cold=100 
        arcane=100 
        impact=100
    [/resistance]
    movement=8
    experience=50
    level=3
    alignment=lawful
    advances_to=null
    cost=40
    usage=archer
    description= _ "As soon as the first successful airship models appeared, imperial engineers immediately adapted them for military purposes. The Zeppelin was conceived as a civilian cargo airship, but its excellent cargo capacity, speed and low cost turned it into a serial Imperial bomber. This new weapon came as a surprise to everyone, and the first instances of its use were truly horrifying: entire cities, completely unprepared for air attack, were reduced to rubble. Later Zeppelins became commonplace for all Imperial armies, cities became bristling with anti-aircraft guns, and Zeppelins began to act more cautiously, changing the tactics of massive bombardments to night raids. Of course, this only applies to Imperial internecine warfare: against a weaker opponent, Imperial generals will throw dozens, if not hundreds of Zeppelins without a second thought, and move his troops off the ground."
    [abilities] 
        {ABILITY_AOM_EXPLOSION fire 15}
        {ABILITY_AOM_NO_TRANSPORT}
        {ABILITY_AOM_ECONOMY_MOVEMENT 2}
    [/abilities]
    die_sound=explosion.ogg
    {DEFENSE_ANIM "units/Imperial_Army/Zeppelin/zeppelin-standing-se1.png" "units/Imperial_Army/Zeppelin/zeppelin-standing-se2.png" nosound.wav}
    [movement_anim]
        [frame]
            image="units/Imperial_Army/Zeppelin/zeppelin.png"
            sound=airship-moving.wav
        [/frame]
    [/movement_anim]
    attacks=3
    [attack]
        name=bombs
        description=_"bombs"
        icon=attacks/bomb.png
        type=impact
        range=ranged
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_AOM_AIR_STRIKE}
            {WEAPON_SPECIAL_OVERWHELM}
            {WEAPON_SPECIAL_ECONOMY_COST "2"}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bombs
        [/filter_attack]

        start_time=-1000
        offset=0

        sling_stone_start_time=-800


        [frame]
            image="units/Imperial_Army/Zeppelin/zeppelin.png:2000"
            sound=airship-moving.wav
            offset=0.0~1.0:500,1.0:500,1.0~2.0:500,2.0:500
            y=0~-60:500,-60:200,-60~0:500,0:500
        [/frame]
        [redraw][/redraw]

        [if]
            hits=yes
            [sling_stone_frame]
                halo="projectiles/grenade.png:800"
                offset=1.0
                halo_y=-60~0
                sound=bomb.wav
            [/sling_stone_frame]
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~SCALE(175,175):60"
                offset=1.0
                auto_vflip=false
                sound=explosion.ogg
            [/missile_frame]
        [/if]
        [else]
            hits=no
            [sling_stone_frame]
                halo="projectiles/grenade.png:900"
                halo_x=24~0
                halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
                offset=0.0~1.5
                sound=bomb.wav
            [/sling_stone_frame]
        [/else]
    [/attack_anim]
    [death]
		start_time=0
        [frame]
            image=units/Imperial_Army/Zeppelin/zeppelin.png:200~O(0%)
			halo=projectiles/fireball-impact-[1~15].png~SCALE(220,220):120
        [/frame]
		sound_start_time=0
	    [sound_frame]
            sound=explosion.ogg
        [/sound_frame]
		sound2_start_time=60
	    [sound2_frame]
            sound=explosion.ogg
        [/sound2_frame]
		sound3_start_time=120
	    [sound3_frame]
            sound=explosion.ogg
        [/sound3_frame]
    [/death]
[/unit_type]
