#textdomain wesnoth-AoM
[unit_type]
    id=Imperial_General
    name= _ "General"
    race=human
    image="units/Imperial_Army/General/general.png"
    hitpoints=44
    movement_type=imperial_mounted
    [resistance]
    blade=100
    pierce=100
    impact=100
    cold=100
    arcane=100
    fire=100
    [/resistance]
    movement=7
    experience=0
    level=1
    alignment=neutral
    advances_to=null
    cost=17
    usage=scout
    description= _ "Generals haven't changed much in the new era. As before, they are ambitious aristocratic warlords who play bloody games, moving battalions of thousands like pieces on a chessboard. They are ambitious, tenacious, and will sacrifice a pawn (go two, or a dozen) for victory without a second thought. But the nature of war has changed, and those who can adapt to the new conditions will win."
    attacks=2
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "units/Imperial_Army/General/general.png" "units/Imperial_Army/General/general.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description=_"saber"
        icon=attacks/saber-human.png	
        type=blade
        range=melee
        damage=5
        number=2
    [/attack]
     [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/Imperial_Army/General/general.png:25"
        [/frame]
        [frame]
            image="units/Imperial_Army/General/general.png:50"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/Imperial_Army/General/general.png:300"
        [/frame]
        [frame]
            image="units/Imperial_Army/General/general.png:50"
        [/frame]
        [frame]
            image="units/Imperial_Army/General/general.png:25"
        [/frame]
    [/attack_anim]
[/unit_type]

