 
#define AOM_MOVEMENT_SOUND SOUND
    [movement_anim]
        [frame]
            duration=300
            sound={SOUND}
        [/frame]
    [/movement_anim]
#enddef

#define GUN_ANIM NAME SOUND_HIT SOUND_MISS
     [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-750
        duration=1500

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH -6 -5}
            direction=s
            hits=yes
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -4 6}
            direction=s
            hits=no
        [/else] 
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -3 20}
            direction=ne,nw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 5 0}
            direction=ne,nw
            hits=no

        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 4 21}
            direction=n
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 -2}
            direction=n
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -10 10}
            direction=se,sw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 11}
            direction=se,sw
            hits=no
        [/else]

        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -250}
    [/attack_anim]
	#enddef
    
	#define CANNON_ANIM NAME SOUND_HIT SOUND_MISS EXPLOSION
    [attack_anim]
        hits=yes
        [filter_attack]
            name={NAME}
        [/filter_attack]
        missile_start_time=0

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound={SOUND_HIT}
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
        [frame]
            begin=700
            end=1400
            sound={EXPLOSION}
        [/frame]
    [/attack_anim]
    [attack_anim]
        hits=no
        [filter_attack]
            name={NAME}
        [/filter_attack]

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.5 
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.5
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound={SOUND_MISS}
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
    [/attack_anim]
#enddef
