#define GUN_ANIM
     [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH -6 -5}
            direction=s
            hits=yes
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -4 6}
            direction=s
            hits=no
        [/else] 
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -3 20}
            direction=ne,nw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 5 0}
            direction=ne,nw
            hits=no

        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 4 21}
            direction=n
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 -2}
            direction=n
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -10 10}
            direction=se,sw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 11}
            direction=se,sw
            hits=no
        [/else]

        {SOUND:HIT_AND_MISS musket.ogg {SOUND_LIST:AOM_MISS} -250}
    [/attack_anim]
	#enddef
	
	#define CANNON_ANIM
    [attack_anim]
        hits=yes
        [filter_attack]
            name=cannon
        [/filter_attack]
        missile_start_time=0

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound=cannon.ogg
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
    [/attack_anim]
    [attack_anim]
        hits=no
        [filter_attack]
            name=cannon
        [/filter_attack]

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.5 
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.5
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound=cannon.ogg
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
    [/attack_anim]
#enddef
#define WEAPON_SPECIAL_AOM_QUAKE_EFFECT
#Dummy ability that applies a screenshake effect when the attack hits
    [dummy]
        id=aom_quakeeffect
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attacker_hits
    first_time_only=no

    [filter_attack]
        special_id=aom_quakeeffect
    [/filter_attack]

    {QUAKE mace.ogg}
[/event]

[event]
    name=defender_hits
    first_time_only=no


    [filter_attack]
        special_id=aom_quakeeffect
    [/filter_attack]

    {QUAKE mace.ogg}
[/event]
[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef
#define ABILITY_AOM_QUAKE_EFFECT_MOVEMENT
    [dummy]
        id=aom_quakeeffect_mov
    [/dummy]
[/abilities]
[event]
    name=enter_hex
    first_time_only=no
     [filter]
            ability=aom_quakeeffect_mov
     [/filter]
     [delay]
     time=200
     [/delay]
    {QUAKE mace.ogg}
    [allow_undo]
    [/allow_undo]
[/event]
[+abilities]
#enddef
#define ZEPPELIN_DIRECTIONAL_ANIM DIR IMAGE
    [standing_anim]
        direction={DIR}
        [frame]
            image="{IMAGE}[1,2,3,4].png:50"
            y=0
        [/frame]
        [frame]
            image="{IMAGE}[1,2,3,4].png:50"
            y=1
        [/frame]
        [frame]
            image="{IMAGE}[1,2,3,4].png:50"
            y=2
        [/frame]
        [frame]
            image="{IMAGE}[1,2,3,4].png:50"
            y=1
        [/frame]
    [/standing_anim]
#enddef

#define AOM_STAND_ANIMATION IMAGE HALO X Y
    [standing_anim]
        [frame]
            image="{IMAGE}-stand-[1~4].png:200"
            halo={HALO}
            halo_x={X}
            halo_y={Y}
        [/frame]
    [/standing_anim]
#enddef
#define AOM_COLOR MAGENTA
        [object]
            [effect]
                apply_to=image_mod
                add=RC(magenta>{MAGENTA})
            [/effect]
        [/object]
#enddef

#define AOM_MISSILE_FRAME_MUZZLE_FLARE_MISS X Y START_TIME SIZE
    missile_start_time=-{START_TIME}
    missile_offset=0.1
    missile_halo_x={X}
    missile_halo_y={Y}
    [missile_frame]
        halo="projectiles/misfire-spark-[1~4].png~SCALE({SIZE},{SIZE}):100"
    [/missile_frame]
#enddef

#define AOM_MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH START_X START_Y START_TIME SIZE
    missile_start_time=-{START_TIME}
    missile_offset=0.5~1.1:250,1.1~1.5:200,1.5~1.7:360
    missile_halo_x={START_X}~0
    missile_halo_y={START_Y}~0
    [missile_frame]
        halo="projectiles/muzzle-flash-n-[1~3].png~SCALE({SIZE},{SIZE}):[100,80,70],projectiles/muzzle-flash-[4~14].png~SCALE({SIZE},{SIZE}):60"
    [/missile_frame]
#enddef

#define AOM_MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH START_X START_Y START_TIME SIZE
    missile_start_time=-{START_TIME}
    missile_offset=0.5~1.1:250,1.1~1.5:200,1.5~1.7:360
    missile_halo_x={START_X}~0
    missile_halo_y={START_Y}~0
    [missile_frame]
        halo="projectiles/muzzle-flash-s-[1~3].png~FL(vertical)~SCALE({SIZE},{SIZE}):[100,80,70],projectiles/muzzle-flash-[4~14].png~SCALE({SIZE},{SIZE}):60"
    [/missile_frame]
#enddef

#define AOM_MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH START_X START_Y START_TIME SIZE
    missile_start_time=-{START_TIME}
    missile_offset=0.5~1.1:250,1.1~1.5:200,1.5~1.7:360
    missile_halo_x={START_X}~0
    missile_halo_y={START_Y}~0
    [missile_frame]
        halo="projectiles/muzzle-flash-ne-[1~3].png~SCALE({SIZE},{SIZE}):[100,80,70],projectiles/muzzle-flash-[4~14].png~SCALE({SIZE},{SIZE}):60"
    [/missile_frame]
#enddef

#define AOM_MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH START_X START_Y START_TIME SIZE
    missile_start_time=-{START_TIME}
    missile_offset=0.5~1.1:250,1.1~1.5:200,1.5~1.7:360
    missile_halo_x={START_X}~0
    missile_halo_y={START_Y}~0
    [missile_frame]
        halo="projectiles/muzzle-flash-se-[1~3].png~FL(vertical)~SCALE({SIZE},{SIZE}):[100,80,70],projectiles/muzzle-flash-[4~14].png~SCALE({SIZE},{SIZE}):60"
    [/missile_frame]
#enddef