#define SOUND_LIST:AOM_MISS
miss-1.wav,miss-2.wav,miss-3.wav,miss-4.wav
 #enddef

#define GUN_ANIM
     [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH -6 -5}
            direction=s
            hits=yes
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -4 6}
            direction=s
            hits=no
        [/else] 
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -3 20}
            direction=ne,nw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 5 0}
            direction=ne,nw
            hits=no

        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 4 21}
            direction=n
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 -2}
            direction=n
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -10 10}
            direction=se,sw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 11}
            direction=se,sw
            hits=no
        [/else]

        {SOUND:HIT_AND_MISS musket.ogg {SOUND_LIST:AOM_MISS} -250}
    [/attack_anim]
	#enddef
	
	#define CANNON_ANIM
    [attack_anim]
        hits=yes
        [filter_attack]
            name=cannon
        [/filter_attack]
        missile_start_time=0

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound=cannon.ogg
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
    [/attack_anim]
    [attack_anim]
        hits=no
        [filter_attack]
            name=cannon
        [/filter_attack]

        [if]
            direction=n,ne,nw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png":60
                offset=1.5 
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw

            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.5
            [/missile_frame]
        [/else]
        [frame]
            begin=0
            end=350
            sound=cannon.ogg
            offset=0.0~-0.2:50,-0.2~0.0:300
        [/frame]
    [/attack_anim]
#enddef
#define WEAPON_SPECIAL_AOM_QUAKE_EFFECT
#Dummy ability that applies a screenshake effect when the attack hits
    [dummy]
        id=aom_quakeeffect
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attacker_hits
    first_time_only=no

    [filter_attack]
        special_id=aom_quakeeffect
    [/filter_attack]

    {QUAKE mace.ogg}
[/event]

[event]
    name=defender_hits
    first_time_only=no


    [filter_attack]
        special_id=aom_quakeeffect
    [/filter_attack]

    {QUAKE mace.ogg}
[/event]
[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef
#define ABILITY_AOM_QUAKE_EFFECT_MOVEMENT
    [dummy]
        id=aom_quakeeffect_mov
    [/dummy]
[/abilities]
[event]
    name=enter_hex
    first_time_only=no
     [filter]
            ability=aom_quakeeffect_mov
     [/filter]
     [delay]
     time=200
     [/delay]
    {QUAKE mace.ogg}
    [allow_undo]
    [/allow_undo]
[/event]
[+abilities]
#enddef
